
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

*{
    margin: 10;
    padding: 10;
    
}
#welcome{
    background-color: #150734;
    padding-top: 20px;
}
#welcome h1{
    color: #fff;
}
#welcome span{
    color: orange;
}
#welcome h2{
    color: #fff;
}
#welcome p{
    color: #fff;
}
#welcome button{
    padding: 15px;
    width: 150px;
    margin-top: 30px;
    background-color: orange;
    border: none;
    border-radius: 0px;
}
#welcome img{
    width: 100%;
}


#contact{
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #150734;
    text-align: center;

}
#contact h1{
    color: orange;
}
#contact h4{
    color: #fff;
}
#contact a{
    color: #fff;
    text-decoration: none;
}

/* Tambahkan kode ini ke dalam file style.css */
img {
    clip-path: circle(50%);
    width: 200px; /* Lebar foto */
    height: 300px; /* Tinggi foto */
    object-fit: cover; /* Memastikan foto tetap proporsional */
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }

  h1:hover, .about:hover, .skills:hover, .experience:hover, .education:hover, .social-media:hover, .organization:hover, .volunteering:hover{
    letter-spacing: 3px;
    transition: letter-spacing 0.3s ease-in-out;
  }

  h1 {
    color: #150734;
  }
